/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    margin-bottom: 85px;
}

/* Estilos de la barra de navegación */
.custom-navbar {
    background-color: #1e488f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
    position: fixed; /* Fijar la barra en la parte superior */
    top: 0; /* Posicionarla en la parte superior */
    left: 0; /* Asegurarse que abarque todo el ancho de la página */
    right: 0; /* Asegurarse que abarque todo el ancho de la página */
    z-index: 1000; /* Asegurarse que esté por encima de otros elementos */
}

.nav-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-tabs li {
    display: inline;
    margin-right: 20px;
}

.nav-tabs li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

.nav-tabs li a:hover {
    border-bottom: 2px solid #fff;
}

/* Ajustar el margen superior del contenido principal para evitar que quede oculto debajo de la navbar */
.contenedor-carros {
    margin-top: 60px; /* Ajustar según la altura de la navbar */
    margin-bottom: 50px;
}

footer {
    background-color: #1e488f;
    color: #fff;
    text-align: center;
    padding: 20px 0; 
    position: fixed; 
    bottom: 0; 
    width: 100%;
}

.titulo {
    font-size: 28px;
    color: #000000;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Efecto de sombra */
    border-radius: 10px; /* Redondear las esquinas */
    padding: 10px 20px; /* Espacio interno */
    background-color: #f0f0f0; /* Color de fondo */
    display: inline-block; /* Convertir en bloque para que se ajuste al contenido */
}

