/* Estilos de la barra de navegación */
/* Estilos de la barra de navegación */
.custom-navbar {
    background-color: #1e488f;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Aumentamos el valor de z-index */
}


/* Estilos para el título del catálogo */
.catalogo-title-container {
    position: relative;
    top: 100px; /* Ajustamos el valor de top */
    margin-bottom: 50px; /* Agregamos margen inferior */
}

.catalogo-title {
    font-size: 2.5rem;
    color: #333;
}

/* Estilos del footer */
.footer {
    background-color: #1e488f;
    color: #fff;
    text-align: center;
    padding: 20px;
    height: auto; /* Cambiado a altura automática */
    width: 100%;
    position: fixed; /* Fija el pie de página */
    bottom: 0; /* Lo sitúa en la parte inferior */
    left: 0; /* Asegura que esté alineado a la izquierda */
    right: 0; /* Asegura que esté alineado a la derecha */
}

/* Estilos para el contenedor principal */
.main-container {
    position: relative; /* Asegura que el pie de página se posicione correctamente */
    min-height: 100vh; /* Establece una altura mínima igual a la altura de la ventana */
    padding-bottom: 80px; /* Ajusta el espacio en la parte inferior para el pie de página */
}



/* Estilos para el contenedor de botones */
.button-container {
    margin-top: 160px; /* Ajustamos el valor de margin-top */
}

/* Estilos para centrar los botones */
.btn-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-group .btn {
    margin: 5px; /* Ajusta el margen según tus preferencias */
}

/* Estilos para los botones */
.btn-group .btn.active {
    z-index: 0; /* Asegura que los botones seleccionados estén por debajo de la barra de navegación */
}

/* Estilos para las imágenes dentro de las tarjetas */
.card-img-top {
    width: 300px !important; /* Ajusta el ancho de las imágenes */
    height: auto !important; /* Ajusta la altura automáticamente para mantener la relación de aspecto */
    object-fit: cover !important; /* Cubre el contenedor manteniendo la relación de aspecto */
    border-radius: 10px !important; /* Añade bordes redondeados a las imágenes */
}

/* Estilos para el contenedor de imágenes */
.image-container {
    display: flex; /* Muestra las imágenes en línea */
    justify-content: center; /* Centra horizontalmente las imágenes */
    align-items: center; /* Centra verticalmente las imágenes */
}

.card-body p {
    text-align: justify;
}
