/* Estilos de la barra de navegación */
.custom-navbar {
    background-color: #1e488f;
    height: 80px;
  }
  
  /* Estilos personalizados para centrar el formulario */
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px - 60px); /* Ajustar la altura para centrarlo verticalmente y descontar la altura de la barra de navegación y el footer */
  }
  
  /* Estilos del formulario */
  .card {
    max-width: 500px;
    width: 100%;
  }

  .welcome-message {
    text-align: center; /* Centra el texto horizontalmente */
}

.welcome-message h1 {
    font-size: 35px; /* Tamaño de fuente para el título */
    color:#1e488f;
}

.welcome-message p {
    font-size: 16px; /* Tamaño de fuente para el párrafo */
}

  
  /* Estilos del footer */
  footer {
    background-color: #1e488f;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative; /* Cambiar a relativa */
    height: 80px; /* Establecer una altura fija para el footer */
  }