/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
/* Estilos de la barra de navegación */
.custom-navbar {
    background-color: #1e488f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
    color: white; 
}
.nav-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-tabs li {
    display: inline;
    margin-right: 20px;
}
.nav-tabs li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}
.nav-tabs li a:hover {
    border-bottom: 2px solid #fff;
}

form {
    max-width: 400px; 
    margin: 50px auto; 
    padding: 20px; 
    background-color: #f9f9f9; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    position: relative; 
    margin-bottom: 100px; 
}

form h1 {
    text-align: center; 
}

form label {
    display: block; 
    margin-bottom: 10px; 
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: calc(100% - 20px); 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
}

form input[type="submit"] {
    width: calc(100% - 20px); 
    padding: 10px; 
    margin-top: 10px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    box-sizing: border-box; 
}

form input[type="submit"]:hover {
    background-color: #45a049; 
}

form a {
    display: block; 
    text-align: center; 
    margin-top: 10px; 
    text-decoration: none; 
    color: #666; 
}

form a:hover {
    color: #333; 
}

footer {
    background-color: #1e488f;
    color: #fff;
    text-align: center;
    padding: 20px 0; 
    position: fixed; 
    bottom: 0; 
    width: 100%;
}

/* Estilo para la imagen redondeada */
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

/* Efecto de acercamiento al pasar el cursor */
.profile-pic:hover {
    transform: scale(1.1);
}
